$bg-color:#060714;


$primary: (
  'dark-100':#2a27c9,
  'light-100':#514cff,
  'dark-10': rgba(42, 39, 201, 0.1),
  'light-10':rgba(81, 76, 255, 0.15)
);
$gray:(
  "dark-100":#060714,
  "dark-90":#262840,
  "gray-100":#7780A1,
  "gray-50":#BBC0D0,
  "gray-20":#E2E2ED,
  "gray-10":#F2F2F6,
)